*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inclusive Sans', sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: black;
    padding-top: 60px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    position: relative;
}

.top-bar{
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
}

button{
    background-color: grey;
    color: white;
    padding: 5px;
    border-radius: 3px;
}

button:hover{
    cursor: pointer;
}

/* Sfondi Videochiamata */

img{
    width: 13vw;
    height: 13vh;
    object-fit: cover;
}

.box{
    width: 13vw;
    height: 13vh;
    margin-right: 5px;
    margin-bottom: 10px;
    position: relative;
}

.name{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(127, 127, 127, 0.5);
    color: white;
}

.fa-solid{
    color: white;
}

.fa-regular{
    color: white;
}

/* fine Sfondi Videochiamata */

/* Inizio Barra Applicazioni */

.tool-bar{
    height: 90px;
    background-color: rgb(57, 57, 57);
    margin-top: 50px;
}

.tool-bar-center{
    margin-left: 100px;
}

.flex-1{
    display: flex;
    flex-direction: row;
}

.justify-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
    align-content: center;
}

.tool{
    text-align: center;
}

.tool span{
    display: block;
    color: white;
    padding: 10px;
}

.button-red{
    color: white;
    background-color: red;
    border-radius: 10px;
    padding: 5px;
    margin-left: 260px;
}
